header 
    .header
        a(href='#').logo
            img(src='assets/ellipse.svg', alt='Logo')
            NFT
        nav 
            ul.nav
                li.nav-item
                    a(href='#').nav-link.active Главная
                li.nav-item
                    a(href='#').nav-link Что даст обучение
        ul.control
            li.control-item 
                button.control-btn Личный кабинет