-var pageTitle = 'NFT project'

doctype html 
html(lang="en")
    head 
        title=pageTitle
        style
            include styles/normilize.css
            include styles/style.css
    body
        include modules/header
        h1 I'm starting using pug.