html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background: #1D2532;
    color: #fff;
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 192rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
}